### **LIMPIANDO DATA PARA SU POSTERIOR ANÁLISIS**

In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools
from decimal import Decimal
import warnings
warnings.filterwarnings('ignore')
import glob
import os

In [101]:
# loading data from all files in the folder separately
folder_path = 'C:\\Users\\USER\\Desktop\\Parcial_TEE\\parcial_TEE_project_storytelling\\data'
file_paths = glob.glob(os.path.join(folder_path, '*.csv'))

data = {}
for file_path in file_paths:
    data[os.path.basename(file_path)] = pd.read_csv(file_path, sep=';')

In [102]:
# renaming columns for ingresos data
data['ingresos.csv'].rename(columns={'anho': 'Año','compania':'Compañia','linea_de_producto':'Linea de producto','ingresos_soles':'Ingresos soles'}, inplace=True)
data['ingresos.csv']['Linea de producto'] = data['ingresos.csv']['Linea de producto'].replace({'publico':'Público', 'larga_distancia':'Larga distancia', 
                                                                                               'otros':'Otros', 'linea_fija':'Linea fija', 'cabletv':'CableTV', 'data':'Data',
                                                                                                'internet':'Internet', 'interconexion':'Interconexión', 'equipos':'Equipos','movil':'Móvil'})
data['ingresos.csv'].isnull().sum()

Compañia             0
Linea de producto    0
Año                  0
Ingresos soles       0
dtype: int64

In [103]:
for i in data['ingresos.csv'].columns:
    if i != 'Ingresos soles':
        print(i, data['ingresos.csv'][i].unique())

Compañia ['Claro' 'Otros' 'DirectTV' 'Entel' 'Movistar' 'Bitel']
Linea de producto ['Público' 'Larga distancia' 'Otros' 'Linea fija' 'CableTV' 'Data'
 'Internet' 'Interconexión' 'Equipos' 'Móvil']
Año [2013 2014 2015 2016 2017 2018 2019 2020 2021]

In [104]:
# renaming columns for moviles data
data['moviles.csv'].rename(columns={'año': 'Año','compania':'Compañia','tipo_de_plan':'Tipo de plan','mes':'Mes','numero_de_lineas':'Numero de lineas'}, inplace=True)
data['moviles.csv'].isnull().sum()

Compañia            0
Tipo de plan        0
Mes                 0
Año                 0
Numero de lineas    0
dtype: int64

In [105]:
#grouping ingresos data by year, company and product line
data_moviles = data['moviles.csv'].groupby(['Año','Compañia','Tipo de plan','Mes']).sum().reset_index()
data_moviles['Tipo de plan'] = data_moviles['Tipo de plan'].replace({'control':'Control','prepago':'Prepago', 'postpago':'Postpago'})
data_moviles

       Año Compañia Tipo de plan  Mes  Numero de lineas
0     2013    Claro      Control    1             10994
1     2013    Claro      Control    2             10685
2     2013    Claro      Control    3             10376
3     2013    Claro      Control    4             10075
4     2013    Claro      Control    5              9788
...    ...      ...          ...  ...               ...
1381  2022   Others      Prepago    2            178156
1382  2022   Others      Prepago    3            176222
1383  2022   Others      Prepago    4            177029
1384  2022   Others      Prepago    5            177565
1385  2022   Others      Prepago    6            178895

[1386 rows x 5 columns]

In [108]:
for i in data_moviles.columns:
    if i != 'Numero de lineas': 
        print(i, data_moviles[i].unique())

Año [2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
Compañia ['Claro' 'Entel' 'Movistar' 'Bitel' 'Others']
Tipo de plan ['Control' 'Postpago' 'Prepago']
Mes [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [109]:
# Cambiar "others" por "otros" en la columna "Compañia"
data_moviles['Compañia'] = data_moviles['Compañia'].replace('Others','Otros')
data_moviles

       Año Compañia Tipo de plan  Mes  Numero de lineas
0     2013    Claro      Control    1             10994
1     2013    Claro      Control    2             10685
2     2013    Claro      Control    3             10376
3     2013    Claro      Control    4             10075
4     2013    Claro      Control    5              9788
...    ...      ...          ...  ...               ...
1381  2022    Otros      Prepago    2            178156
1382  2022    Otros      Prepago    3            176222
1383  2022    Otros      Prepago    4            177029
1384  2022    Otros      Prepago    5            177565
1385  2022    Otros      Prepago    6            178895

[1386 rows x 5 columns]

In [110]:
# Guardando archivos limpios
data_ingresos = data['ingresos.csv']
data_ingresos.to_csv('C:\\Users\\USER\\Desktop\\Parcial_TEE\\parcial_TEE_project_storytelling\\data\\ingresos_df.csv', index=False)
data_moviles.to_csv('C:\\Users\\USER\\Desktop\\Parcial_TEE\\parcial_TEE_project_storytelling\\data\\moviles_df.csv', index=False)