# Semana 7: Storytelling 2.
**Tópicos de Economía de la Empresa - E2TEE9**

Recuerden que Lo más importante: **Verlo desde el punto de vista del usuario**

 Retomando el caso de la macroeconomía peruana...Vamos a convertir el notebook de la sesión 6 en una presentación similar a lo que tendrán que presentar para el parcial.

## ¿Cómo convertir un notebook en una presentación?

Este método funciona hasta la versión 6.5 de Jupyter Notebook.

en tu entorno Jupyter y convertir tu cuaderno Jupyter en diapositivas Reveal.js, necesitas tener lo siguiente:

- nbconvert: Por lo general, se instala por defecto cuando instalas Jupyter. Si por alguna razón no está presente, puedes instalarlo usando pip:

**Primero** chequeen que esté instalado en el ambiente de python donde están trabajando con el comando 
`conda list` o `pip show nbcnovert` corrido desde el powershell.

In [1]:
## Si no está instalado, ejecuten el siguiente código
## pip install nbconvert

Existen formatos adicionales: 
- pandoc: nbconvert depende de pandoc para convertir cuadernos a varios formatos, incluidas las diapositivas. Dependiendo de cómo instalaste Jupyter y de tu sistema operativo, es posible que ya lo tengas. Si no, necesitas instalar pandoc. El método de instalación varía según tu sistema operativo. En la mayoría de los sistemas, puedes descargarlo directamente desde el sitio web oficial de Pandoc.

- TeX (Opcional): Si quieres convertir cuadernos a formato PDF, también necesitarías una distribución TeX. Sin embargo, para convertir a diapositivas, como en tu comando, TeX no es necesario.

- Reveal.js: Aunque nbconvert generará las diapositivas, para verlas con todas las transiciones y características necesitas Reveal.js. Afortunadamente, cuando conviertes a diapositivas usando el comando anterior, nbconvert generalmente incorpora las partes necesarias de Reveal.js en la salida, por lo que no necesitas instalar o enlazar Reveal.js manualmente. Sin embargo, si planeas personalizar o alojar tus diapositivas de manera más extensa, es posible que desees obtener un entendimiento más profundo de Reveal.js.

Para fines del examen parcial vamos a utilizar nbconvert.

### Paso para convertir un notebook en una presentación

1. Crear una copia del notebook y cambiar de nombre. Esto da flexibilidad para borrar celdas innecesarias para la presentación, pero sin perder el trabajo analítico. Le he llamado Macroperu.
2. Para crear slides, ir al menu “View” menu, seleccionar “Cell Toolbar” y luego “Slideshow”. Esto añadirá el menú dropdown “Slide Type” a cada celda del notebook. 
3. Seleccionar las celdas necesarias. Añadir texto después de cada gráfico. 
4. Correr el código que transforma el código en un Jupyter Notebook

In [3]:
!jupyter nbconvert Macroperu.ipynb --to slides --no-input --no-prompt

[NbConvertApp] Converting notebook Macroperu.ipynb to slides
[NbConvertApp] Writing 1014429 bytes to Macroperu.slides.html

**Aquí hay un desglose del comando:**

!jupyter nbconvert: Esto inicia la herramienta nbconvert, que se usa para convertir Jupyter Notebooks en varios formatos.

Macroperu.ipynb: Este es el nombre del cuaderno que desea convertir.

--to slides: Esta opción especifica el formato de salida, que en este caso es una presentación de diapositivas.

--no-input: Esta opción excluirá las celdas de entrada (código) del cuaderno convertido, por lo que solo la salida (resultados) de las celdas será visible en las diapositivas.

--no-prompt: Esta opción eliminará los indicadores (como In[1]: y Out[1]:) de las diapositivas.

**Para que el comando funcione correctamente:**

- Asegúrate de ejecutar el comando en el mismo directorio que el cuaderno .ipynb.
- Asegúrate de tener las dependencias requeridas instaladas. Para las diapositivas, también es posible que necesites tener rise o reveal.js dependiendo de cómo pretendas presentar o ver las diapositivas.
- Después de ejecutar el comando, debería crear un archivo .slides.html con el mismo nombre base que tu cuaderno. Puedes abrir este archivo en un navegador para ver tu presentación de diapositivas.

## Ejercicio en clase: Ejecución de la presentación.

## La base de datos de Punku 2021 que utilizaremos en el parcial

Utilizaremos los datos públicos de OSIPTEL (Agencia Reguladora de Telecomunicaciones del Perú) para el análisis. Las bases de datos se pueden descargar de https://punku.osiptel.gob.pe/. Los datasets que utilizaremos en clase han sido ordenados previamente.

### Competidores

- Claro: Empresa latinoamericana. 15 años en el mercado. Ofrece servicios móviles, internet, cable, línea fija y servicios de datos.
- Movistar: Empresa europea. 25 años en el mercado. Empresa dominante. Ofrece servicios móviles, internet, cable, línea fija y servicios de datos.
- Entel: Empresa latinoamericana. 10 años en el mercado. Ofrece servicios móviles, internet y servicios de datos.
- Bitelel: Empresa asiática. 8 años en el mercado. Ofrece servicios móviles y de internet.
- DirectTV: Empresa estadounidense. Solo ofrece servicios de TV.
- Otros: varias empresas más pequeñas que ofrecen principalmente servicios móviles y de internet.

### Base de datos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### Ingresos

Por ingresos por compañía, lineas de negocio,año

In [2]:
df1=pd.read_csv('ingresos.csv', sep=";")
df1.head()

  compania linea_de_producto  anho  ingresos_soles
0    Claro           publico  2013        10690680
1    Claro   larga_distancia  2013        12285877
2    Claro             otros  2013        85336817
3    Claro        linea_fija  2013       107044890
4    Claro           cabletv  2013       119579263

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   compania           1949 non-null   object
 1   linea_de_producto  1949 non-null   object
 2   anho               1949 non-null   int64
 3   ingresos_soles     1949 non-null   int64
dtypes: int64(2), object(2)
memory usage: 61.0+ KB

In [5]:
df1.linea_de_producto.unique()

array(['publico', 'larga_distancia', 'otros', 'linea_fija', 'cabletv',
       'data', 'internet', 'interconexion', 'equipos', 'movil'],
      dtype=object)

In [6]:
df1.compania.unique()

array(['Claro', 'Otros', 'DirectTV', 'Entel', 'Movistar', 'Bitel'],
      dtype=object)

In [7]:
df1.anho.unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

#### Móviles

Este dataset presenta el numero de líneas activas por tipos de contratos (planes): control, prepago, postpago para cada mes, de cada año, de cada empresa.

In [4]:
df2=pd.read_csv('moviles.csv', sep=";")
df2.head()

  compania tipo_de_plan  mes   año  numero_de_lineas
0    Claro      control    1  2013                 6
1    Claro      control    1  2013                 8
2    Claro      control    1  2013                 9
3    Claro      control    1  2013                11
4    Claro      control    1  2013                15

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33857 entries, 0 to 33856
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   compania          33857 non-null  object
 1   tipo_de_plan      33857 non-null  object
 2   mes               33857 non-null  int64
 3   año               33857 non-null  int64
 4   numero_de_lineas  33857 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.3+ MB

In [9]:
df2.compania.unique()

array(['Claro', 'Entel', 'Movistar', 'Bitel', 'Others'], dtype=object)

In [10]:
df2.tipo_de_plan.unique()

array(['control', 'postpago', 'prepago'], dtype=object)

In [11]:
df2.mes.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

**La data de origen tenía observaciones diarias. Por ejemplo, cada observación con mes "1" y año "2013" es un día de enero de 2013.**

In [23]:
dfmov=pd.DataFrame(df2.groupby(['compania', 'tipo_de_plan', 'mes', 'año'])['numero_de_lineas'].sum())

**Hay que agruparla para tener data correspondiente a un mes de un año**

In [24]:
dfmov.head()

                                numero_de_lineas
compania tipo_de_plan mes año
Bitel    control      1   2015             79504
                          2016            166286
                          2017            259098
                          2018            631801
                          2019           1687759

In [25]:
## Para homogeneizar el dataframe y poder manipularlo
dfmov.reset_index(inplace=True)

In [26]:
dfmov.head()

  compania tipo_de_plan  mes   año  numero_de_lineas
0    Bitel      control    1  2015             79504
1    Bitel      control    1  2016            166286
2    Bitel      control    1  2017            259098
3    Bitel      control    1  2018            631801
4    Bitel      control    1  2019           1687759

##### El número de líneas móviles activas por mes del año 2013

In [16]:
dfmov[(dfmov['compania']=='Claro') & (dfmov['tipo_de_plan']=='postpago') & (dfmov['año']==2013)]

    compania tipo_de_plan  mes   año  numero_de_lineas
402    Claro     postpago    1  2013           2732347
412    Claro     postpago    2  2013           2793495
422    Claro     postpago    3  2013           2867476
432    Claro     postpago    4  2013           2942513
442    Claro     postpago    5  2013           3012616
452    Claro     postpago    6  2013           3075209
462    Claro     postpago    7  2013           3155551
471    Claro     postpago    8  2013           3204358
480    Claro     postpago    9  2013           3266080
489    Claro     postpago   10  2013           3318667
498    Claro     postpago   11  2013           3366647
507    Claro     postpago   12  2013           3453830

##### Ver la última observación del año (mes de diciembre)

In [17]:
dfmov[(dfmov['compania']=='Claro') & (dfmov['tipo_de_plan']=='control') & (dfmov['mes']==12)]

    compania tipo_de_plan  mes   año  numero_de_lineas
393    Claro      control   12  2013              7697
394    Claro      control   12  2014              5459
395    Claro      control   12  2015              3654
396    Claro      control   12  2016              2273
397    Claro      control   12  2017              1065
398    Claro      control   12  2018           3614026
399    Claro      control   12  2019           3957790
400    Claro      control   12  2020           4092928
401    Claro      control   12  2021           4848299

In [18]:
dfmov[(dfmov['compania']=='Claro') & (dfmov['tipo_de_plan']=='prepago') & (dfmov['mes']==12)]

    compania tipo_de_plan  mes   año  numero_de_lineas
621    Claro      prepago   12  2013           8393654
622    Claro      prepago   12  2014           8586329
623    Claro      prepago   12  2015           8066225
624    Claro      prepago   12  2016           7975896
625    Claro      prepago   12  2017           8181415
626    Claro      prepago   12  2018           7935984
627    Claro      prepago   12  2019           7392870
628    Claro      prepago   12  2020           6653242
629    Claro      prepago   12  2021           6889503

In [19]:
dfmov[(dfmov['compania']=='Claro') & (dfmov['tipo_de_plan']=='postpago') & (dfmov['mes']==12)]

    compania tipo_de_plan  mes   año  numero_de_lineas
507    Claro     postpago   12  2013           3453830
508    Claro     postpago   12  2014           3906462
509    Claro     postpago   12  2015           4014126
510    Claro     postpago   12  2016           4334589
511    Claro     postpago   12  2017           4324071
512    Claro     postpago   12  2018            659463
513    Claro     postpago   12  2019            406655
514    Claro     postpago   12  2020            422385
515    Claro     postpago   12  2021            490408

In [27]:
## La información mensual.Tienen que quedarse sólo con el mes 12 para que puedan ver la foto del año. 
dffinal=dfmov[dfmov['mes']==12]

In [28]:
dffinal.head()

   compania tipo_de_plan  mes   año  numero_de_lineas
88    Bitel      control   12  2014            154994
89    Bitel      control   12  2015            142000
90    Bitel      control   12  2016            230936
91    Bitel      control   12  2017            580795
92    Bitel      control   12  2018           1645175

In [29]:
dffinal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111 entries, 88 to 1385
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   compania          111 non-null    object
 1   tipo_de_plan      111 non-null    object
 2   mes               111 non-null    int64
 3   año               111 non-null    int64
 4   numero_de_lineas  111 non-null    int64
dtypes: int64(3), object(2)
memory usage: 5.2+ KB

In [30]:
dffinal.tipo_de_plan.unique()

array(['control', 'postpago', 'prepago'], dtype=object)

In [31]:
dffinal.compania.unique()

array(['Bitel', 'Claro', 'Entel', 'Movistar', 'Others'], dtype=object)

**Reemplazar "others" por otros**

In [32]:
dffinal.año.unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2013], dtype=int64)

## Rúbrica del examen parcial

- Día del examen: Miercoles 2 de octubre. 8am-11pm. Sala D12
- Grupos de dos alumnos. 
- Presentar oralmente un documento en PowerPoint (15 minutos) el día del examen parcial y entregar un Jupyter Notebook y el Powerpoint al correo electrónico giancarlo.marchesi@udep.edu.pe hasta las 8am del día miércoles 2 de octubre. 
- El horario asignado a cada grupo estará disponible en Canvas.
- El examen utiliza estos dos datasets. Estarán disponibles en el Módulo del examen en Canvas. 
- El examen consta de 4 secciones. Cada sección vale 25 puntos. 
- Las secciones 1 y 2 tienen 5 preguntas individuales. Cada pregunta individual vale 5 puntos. 
- Cada pregunta deberá contar con un gráfico y tener una breve explicación de dos líneas para describir la conclusión del análisis. 
- Dentro de estos 5 puntos se evalúa obtener la respuesta correcta (3 puntos), la claridad del gráfico (2 puntos). 
- Las secciones 3 y 4 se refieren a la calidad de la presentacion oral y la atención al detalle del trabajo

### Objetivo: Contar la historia del mercado de móviles en Perú.

La empresa consultora UdeP Analytical Solutions  ha sido contratada por Claro para analizar la evolución del mercado de telecomunicaciones peruano desde 2013, cuando dos fuertes competidores, Entel y Bitel, ingresaron al mercado.

La consultora ha decidido comenzar desde lo más alto, analizando la dinámica del mercado de telecomunicaciones por cuota de mercado, líneas de producto y segmentos. 

El objetivo del encargo es dar a Claro una visión tanto del mercado como de su posición particular en el mismo. Claro califica al consultor por la veracidad de la respuesta, por la capacidad de comunicación y el formato de la presentación.

### Ingresos del mercado total (25 puntos)

1. ¿Cuánto factura anualmente el mercado de telecomunicaciones en el Perú (todos las líneas de negocio) y ¿Cuál es la tasa de crecimiento anualizada del mercado del 2013 al 2021? (realizar un gráfico de linea de la evolución de la tasa de crecimiento del mercado)
2. Replicar el mismo gráfico solo para Claro (solo para claro hacer un linea de evolutiva)
3. ¿Cual es el % de ingresos del mercado de los 6 competidores tanto en 2013 como en 2021? (stacked bars o barras apiladas o bien cuadrados proporcionales)
4. ¿Cuánto es el % de la facturación para cada linea de producto para el mercado total? ¿Cómo evoluciona entre 2013 y 2021? (barras  lo largo del tiempo pie chart)
5. ¿Cuánto es el % de la facturación para cada linea de producto para Claro? ¿Cómo evoluciona entre 2013 y 2021? (tambien barras, pie chart)

### Mercado móvil (25 puntos)

1. Utilizando la data de la pregunta anterior, ¿qué porcentaje del mercado por ingresos, del producto móviles, tenía cada empresa en el 2013? ¿Cuánto tienen en el 2021? (barras)
2. Utilizando el segundo dataset, cuál es la tasa de crecimiento del mercado de líneas móviles por todo tipo de contrato entre 2013-2021. (linea de crecimiento)
3. ¿Cuál es el porcentaje de líneas activas por empresa en 2021? Compararlo con el 2013. (pie chart o joint bars)
4. Si dividimos los ingresos anuales por el número de líneas para cada empresa, tenemos el ingreso promedio por línea.  ¿Qué conclusiones podemos sacar comparando el 2013 con el 2021 por cada empresa? (barras horizontales)
5. ¿Cuál es el porcentaje de mercado de líneas por cada empresa por tipo de contrato? Esta pregunta se vería bien bien respondida con un subplot de 1 fila y tres columnas, utilizando `lineplot`. Cada línea es una empresa. Cada columna es un tipo de contrato. (3 graficos horizontales en formato lines)

### Conclusiones del análisis (25 puntos)

Escriban 5 bullets con las principales conclusiones de su análisis. Responder las siguientes preguntas. 
- ¿Cuál es el principal negocio de Claro? 
- ¿Cuáles es el tipo de plan que más conviene vender a Claro? 
- ¿Cómo describirías el segmento de la clientela de Claro? -¿Cómo definirías su ventaja competitiva?
- ¿Cómo se ha defendido Claro frente al ingreso de los competidores Bitel y Entel? ¿Lo hizo mejor que Movistar?
- ¿Dónde debería enfocar Claro sus esfuerzos en un futuro?

### Claridad en la presentación (25 puntos)

- Traer la presentación en un usb en formato PPT o PDF. Instalarla en un minuto y estar listos para comenzar (5 puntos) 
- Tomar 15 minutos en total. 1 minuto por pregunta individual. 3 minutos para las conclusiones. 2 minutos para preguntas del profesor (10 puntos)
- Poder comunicar cada slide de la presentación y conclusiones con claridad. REvisar que los gráficos respondan a las preguntas específicas. (10 puntos)